﻿* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#mainmenu {
  max-width: 100%;
  height: auto;
  position: fixed;
  top: 41px;
  right: 136px;
  border: 1px solid #99ffff;
  background-color: #1e262c;
  -moz-border-radius: 9px;
  -o-border-radius: 9px;
  -webkit-border-radius: 9px;
  -ms-border-radius: px;
  box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
  -moz-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
  -o-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
  -ms-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
  -webkit-box-shadow: 0 1px 1px #777, 0 1px 0 #666 inset;
  margin: 50px auto;
  padding: 0;
  width: 296px;
  height: 54px;
  z-index: 10
}
  #mainmenu ul, 
  #mainmenu ul ul,
  #mainmenu ul ul li {
  list-style: none;
  padding: 0;
  margin: 0;
 }
  #mainmenu ul {
  clear: left;
  position: relative;
  right: 50%;
  height: 40px;
  float: right;
  text-align: center;
  font: 12px Times New Roman;
  text-transform: uppercase;
}
  #mainmenu ul li {
  border-right: 1px solid #222;
  box-shadow: 1px 0 0 #444;
  -moz-box-shadow: 1px 0 0 #444;
  -o-box-shadow: 1px 0 0 #444;
  -ms-box-shadow: 1px 0 0 #444;
  -webkit-box-shadow: 1px 0 0 #444;
  position: relative;
  left: 50%;
  float: left;
  height: 39px;
}
  #mainmenu ul li:last-child {
  margin:2px 4px;
  border: none;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}
#mainmenu ul li a {
  display: block;
  color: #ccc;
  text-decoration: none;
  padding: 13px 25px;
  
  }
#mainmenu ul > li:hover > a {
  width:296px;
  
}
#mainmenu > ul > li.parent > a::after {
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin: 4px 0 0 8px;
  -webkit-transform: rotate(-135deg);
     -moz-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
       -o-transform: rotate(-135deg);
          transform: rotate(-135deg);
  height: 5px;
  width: 5px;
}
#mainmenu ul li ul {
 width:296px; 
 border:1px solid #99ffff;
 border-radius:9px 9px;
 text-transform: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 0;
  line-height: 18px;
  top: 39px;
  font-size: 12px;
  margin-top: 20px;
  height: auto;
  min-width: 150px;
  width: 100%
}
#mainmenu ul li:hover > ul {
  opacity: 1;
  visibility: visible;
  -webkit-transition: margin 0.3s ease 0s;
     -moz-transition: margin 0.3s ease 0s;
       -o-transition: margin 0.3s ease 0s;
          transition: margin 0.3s ease 0s;
  margin: 0;
  z-index: 11;
}
#mainmenu ul li ul li {
  border: none;
  -webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  -ms-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
  position: relative;
  left: 0;
  float: none;
  height: auto;
  text-align: left !important;
}
#mainmenu ul li ul li:last-child {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#mainmenu ul li ul li a {
  padding: 10px 15px;
  border: none
}
#mainmenu ul li ul li ul {
  top: 0;
  left: 90%;
  margin: 0 0 0 20px;
  _margin: 0;
 }
#mainmenu > ul > li ul li.parent > a::after {
  border-left: 1px solid #CCC;
  border-top: 1px solid #CCC;
  content: "";
  display: inline-block;
  vertical-align: top;
  margin: 7px 0px 0px 8px;
  -webkit-transform: rotate(135deg);
     -moz-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
       -o-transform: rotate(135deg);
          transform: rotate(135deg);
  height: 5px;
  width: 5px;
  float: right;
}
#mainmenu ul ul li:first-child > a {
  border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  -o-border-radius: 3px 3px 0 0;
  -ms-border-radius: 3px 3px 0 0;
  -webkit-border-radius: 3px 3px 0 0;
}
#mainmenu ul li > ul > li:first-child > a:before {
  content: '';
  position: absolute;
  left: 40px;
  top: -6px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444;
}
#mainmenu ul ul ul li:first-child a:before {
  left: -6px;
  top: 50%;
  margin-top: -6px;
  border-left: 0;
  border-bottom: 6px solid transparent;
  border-top: 6px solid transparent;
  border-right: 6px solid #3b3b3b;
}
#mainmenu ul ul li:first-child a:hover:before {
  border-bottom-color: #04acec
}
#mainmenu ul ul ul li:first-child a:hover:before {
  border-right-color: #0299d3;
  border-bottom-color: transparent;
}
#mainmenu ul ul li:last-child > a {
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
}
#mainmenu > ul > li.parent > ul > li:first-child > a::before {
  display: none;
}
#mainmenu > ul > li.parent > a::before {
  bottom: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #444;
  content: '';
  visibility: hidden;
  position: absolute;
  left: 50%;
  margin-left: -6px;
}
#mainmenu > ul > li.parent:hover > a::before {
  visibility: visible;
  -webkit-transition: all .5s ease .2s;
     -moz-transition: all .5s ease .2s;
       -o-transition: all .5s ease .2s;
          transition: all .5s ease .2s;
}

.container{                 
 width: 100% !important;
 max-width: 1000px !important;
 height:960px  !important;
}
.container-1{
width: 800px;
max-width: 90%;
}
.container-fluid{
 padding-left: 0px !important;   
}
.sz3{
 width:100%;
 height: 100px;
 border: 4px solid black;
 border-radius: 15px 15px;
 position: relative;
 top: 32px;
 background: #ffffff;
 opacity:0.05;
 background:radial-gradient(#333333, #ffffff);
 margin:6px;
}
.font1{
position: relative;
top: 107px;
right: -123px;
width: 37%;
height: auto;
}
.col-md-4{
 height: 353px;
 max-width:304px !important;
 border-radius: 9px 9px;
 position: relative ;
 margin:10px;
 top: 48px;
}                             /*блоки*/
.fon-1{
 background:url(images/fon.png); 
 padding-left:0px !important;
 padding-right:0px !important;
 position: relative;
 top:48px;
}
.fon-2{
 padding-left:0px !important;
 padding-right:0px !important;
 position: relative;
 top:50px;
 }
.fon-3{
 padding-left:0px !important;
 padding-right:0px !important; 
 position: relative;
 top: 29.5px;
}  
.row {
 }
 /*Адаптивность фона*/
body {
 height: 768px !important;
 max-width: 110%;
 background-image: url(../images/home.jpg); /* Путь к изображению относительно данного файла */
 background-position: center center;/* Центрирую изображение по вертикали */
 background-repeat: no-repeat;      /* Запрещаем повтор изображения */
 background-attachment: fixed;      /* Фиксирую изображение  */
 background-size: cover;            /* масштабир изображение в зависимости от размера контейнера */
 background-color:#464646;
 }
@media only screen and (max-width: 767px) {
body {
 background-image: url(../images/home.jpg);
 
}
}
.font-block1{
 color:#ffffff;
 font-family: Roboto-bold;  
 position: relative;
 right: 10px;
 top: 30px;   
}
.im{
color: #ffffff ; 
font-family: 'Times New Roman', Times, serif;
text-align: right;
position: relative;
left: -12px;
bottom: 167px;
line-height: 8px; 
}
.im2{
color: #ffffff ; 
font-family: 'Times New Roman', Times, serif;
right: -63px; 
bottom: 171px;
text-align: right;
}
.im3{
color: #ffffff ; 
font-family: 'Times New Roman', Times, serif;
right: -63px; 
bottom: 171px;
text-align: right;
}
.row1{
color: #727171;
position: relative;
left:52.5px;
top: -26px;
}
.row1-2{
color: #ffffff; 
position: relative;
top: -5px;  
}
.rows1{
color: #ffffff;
position: relative;
left:1px;
top: -27.5px;
font-family: 'Roboto'!important ;
font-size: 23px;
font-weight: bold;            
} 
.rowes{
color: #ffffff;
position: relative;
left:53px;
top: -8px;
}
.row2{
color: #66cc33;
text-align: right;
position: relative;
left: -1.5px;
bottom: 37px;
font-family: 'Roboto'!important ;
font-size: 15px;
font-weight: bold; 
}
.row2-1{
color:#cc0033;
position: relative;
top: -37px;
font-family: 'Roboto'!important ;
font-size: 15px;
font-weight: bold; 
}
h1 {
font-size: 5.7vw;
text-align: justify !important; 
}
h2 {
font-size: 4.0vw;
}
h3 {
font-size: 2.8vw;
}
h4 {
bottom: 15px;
text-align: justify !important;
font-family: 'Roboto'!important ;
font-size: 20px !important;
}
h6 {
line-height: 13px !important;
text-align: justify !important; 
font-family: 'Roboto'!important;
}
p {
font-size: 2.5vw;
}
input[type=checkbox].oval{ 
    visibility: hidden; 
  } 
label.saxrunikangsa { 
    width: 63.7px; 
    height: 9.9px; 
    position: relative; 
    display: block; 
    border-radius: 25px; 
    box-shadow: 8px 2px 8px rgba(14, 14, 14, 0.81) inset, -7px 1px 8px rgba(12, 12, 12, 0.85) inset; 
    left: 0; 
    top: 0; 
    background: #807777; 
    z-index: 50; 
    font: bold 12px Arial; 
    cursor: pointer; 
  } 
label.saxrunikangsa::before { 
    text-shadow: 0 -2px 1px #5d5757; 
    content: ''; 
    position: absolute; 
    color: #f1e8e8; 
    top: 11px; 
    left: 59%; 
  } 
label.saxrunikangsa::after{ /* Round Knob "off" state */ 
    content: ''; 
    display: block; 
    width: 18px; 
    height: 18px; 
    border-radius: 40px;
    -webkit-transition: all .5s ease; 
    -moz-transition: all .5s ease; 
    -o-transition: all .5s ease; 
    -ms-transition: all .5s ease; 
    transition: all .5s ease; 
    box-shadow: 0 5px 10px rgba(0,0,0,.5), 2px -5px 5px rgba(0,0,0,.2) inset; 
    position: absolute; 
    top: -5px; 
    left: 0px; 
    background: rgb(255,255,255); 
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba       (224,224,224,1) 37%, rgba(186,186,186,1) 38%, rgba(244,244,244,1) 48%, rgba(252,252,252,1) 100%); 
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,1)), color-stop(37%,rgba(224,224,224,1)), color-stop(38%,rgba(186,186,186,1)), color-stop(48%,rgba(244,244,244,1)), color-stop(100%,rgba(252,252,252,1))); 
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 37%,rgba(186,186,186,1) 38%,rgba(244,244,244,1) 48%,rgba(252,252,252,1) 100%); 
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 37%,rgba(186,186,186,1) 38%,rgba(244,244,244,1) 48%,rgba(252,252,252,1) 100%); 
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 37%,rgba(186,186,186,1) 38%,rgba(244,244,244,1) 48%,rgba(252,252,252,1) 100%); 
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(224,224,224,1) 37%,rgba(186,186,186,1) 38%,rgba(244,244,244,1) 48%,rgba(252,252,252,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fcfcfc',GradientType=1 );
} 
input[type=checkbox]:checked + label::before{  
    content: ''; 
    left: 11%; 
  } 
  
  input[type=checkbox]:checked + label::after{  
    left: 45px; 
  } 
label.rukursa::before{  
    color: white; 
  } 
input[type=checkbox]:checked + label.red { 
    background: #ab3636; 
    box-shadow: 8px 2px 8px rgba(97, 13, 13, 0.7) inset, -7px 1px 8px rgba(130,20,20,0.7) inset; 
  } 
input[type=checkbox]:checked + label.orange { 
    background: #ce8c13; 
    box-shadow: 8px 2px 8px rgba(173, 92, 12, 0.7) inset, -7px 1px 8px rgba(160, 93, 25, 0.7) inset; 
  } 
input[type=checkbox]:checked + label.rukursa::before{ /* label "on" state text */ 
    color: black; 
    text-shadow: 0 -2px 1px #eee; 
  } 
input[type=checkbox]:checked + label.rukursa { 
    color: #1f1e1e; 
    background: #cec71b; 
    box-shadow: 8px 2px 8px rgba(183, 158, 59, 0.7) inset, -7px 1px 8px rgba(187, 157, 38, 0.7) inset; 
  } 
input[type=checkbox]:checked + label.blue { 
    background: #1bcde8; 
    box-shadow: 8px 2px 8px rgba(16, 91, 132, 0.7) inset, -7px 1px 8px rgba(21, 93, 132, 0.7) inset; 
  }
  .container1, .container2, .container3{
   position: relative;
   left: 241px;
   bottom: -1.5px;
 }
 .dl-menu.dl-animate-out-1 {
    animation: MenuAnimOut1 0.4s linear forwards;
}
@keyframes MenuAnimOut1 {
    50% {
        transform: translateZ(-250px) rotateY(30deg);
    }
    75% {
        transform: translateZ(-372.5px) rotateY(15deg);
        opacity: .5;
    }
    100% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
}
 
.dl-menu.dl-animate-in-1 {
    animation: MenuAnimIn1 0.3s linear forwards;
}
@keyframes MenuAnimIn1 {
    0% {
        transform: translateZ(-500px) rotateY(0deg);
        opacity: 0;
    }
    20% {
        transform: translateZ(-250px) rotateY(30deg);
        opacity: 0.5;
    }
    100% {
        transform: translateZ(0px) rotateY(0deg);
        opacity: 1;
    }
     }

                                                    





